/*-------------- WIDTH -------------------------------------------------------------------------------------------*/
.w-auto{width:auto;}
.w-0{width:0px;}
.w-5{width:5px;}
.w-10{width:10px;}
.w-15{width:15px;}
.w-16pc{width:16%;}
.w-20{width:20px;}
.w-20pc{width:20%;}
.w-25{width:25px;}
.w-25pc{width:25%;}
.w-30{width:30px;}
.w-33pc{width:33.33%;}
.w-35{width:35px;}
.w-40{width:40px;}
.w-40pc{width:40% !important;}
.w-45{width:45px;}
.w-50{width:50px;}
.w-50pc{width:50%;}
.w-30pc{width:30% !important;}
.w-55{width:55px;}
.w-60{width:60px;}
.w-50pc{width:50% !important;}
.w-60pc{width:60% !important;}
.w-70pc{width:70% !important;}
.w-65{width:65px;}
.w-70{width:70px;}
.w-75pc{width:75%;}
.w-75{width:75px;}
.w-80{width:80px;}
.w-85{width:85px;}
.w-90{width:90px;}
.w-95{width:95px;}
.w-100{width:100px;}
.w-140{width:140px;}
.w-130{width:130px;}
.w-80pc{width:80%;}
.w-100pc{width:100% !important;}
.w-250{width:250px;}

/*-------------- HEIGHT -------------------------------------------------------------------------------------------*/
.h-auto{height:auto;}
.h-0{height:0px;}
.h-5{height:5px;}
.h-10{height:10px;}
.h-15{height:15px;}
.h-20{height:20px;}
.h-20pc{height:20%;}
.h-25{height:25px;}
.h-30{height:30px;}
.h-35{height:35px;}
.h-40{height:51px;}
.h-45{height:45px;}
.h-50{height:50px;}
.h-560{height:560px !important;}
.h-55{height:55px;}
.h-58{height:58px;}
.h-60{height:60px;}
.h-65{height:65px;}
.h-70{height:70px;}
.h-75{height:75px;}
.h-80{height:80px;}
.h-85{height:85px;}
.h-90{height:90px;}
.h-95{height:95px;}
.h-100{height:100px;}
.h-100pc{height:100%;}
.h-125{height:125px;}
.h-150{height:150px;}
.h-175{height:175px;}
.h-200{height:200px;}
.h-250{height:250px;}
.h-300{height:300px;}
.h-350{height:350px;}
.h-400{height:400px;}
.h-450{height:450px;}
.h-500{height:500px;}
.h-515{height:415px !important;}
.h-550{height:550px;}
.h-600{height:600px;}
.h-650{height:650px;}
.h-700{height:700px;}
.h-750{height:750px;}
.h-800{height:800px;}
.h-850{height:850px;}
.h-900{height:900px;}
.h-950{height:950px;}
.h-1000{height:1000px;}

/*-------------- MARGIN -------------------------------------------------------------------------------------------*/
.mg-z-a{margin-left: auto; margin-right:auto;}
.mg-t-0{margin-top:0px;}
.mg-t-1{margin-top:1px;}
.mg-t-2{margin-top:2px;}
.mg-t-3{margin-top:3px;}
.mg-t-4{margin-top:4px;}
.mg-t-5{margin-top:5px;}
.mg-t-6{margin-top:6px;}
.mg-t-7{margin-top:7px;}
.mg-t-8{margin-top:8px;}
.mg-t-9{margin-top:9px;}
.mg-t-10{margin-top:10px;}
.mg-t-15{margin-top:15px !important;}
.mg-t-15n{margin-top:-15px;}
.mg-t-20{margin-top:20px;}
.mg-t-25{margin-top:25px;}
.mg-t-30{margin-top:30px;}
.mg-t-30n{margin-top:-30px;}
.mg-t-35{margin-top:35px;}
.mg-t-40{margin-top:40px;}
.mg-t-45{margin-top:45px;}
.mg-t-50{margin-top:50px;}
.mg-t-55{margin-top:55px;}
.mg-t-60{margin-top:60px;}
.mg-t-65{margin-top:65px;}
.mg-t-70{margin-top:70px;}
.mg-t-75{margin-top:75px;}
.mg-t-80{margin-top:80px;}
.mg-t-85{margin-top:85px;}
.mg-t-90{margin-top:90px;}
.mg-t-95{margin-top:95px;}
.mg-t-100{margin-top:100px;}
.mg-t-130{margin-top:130px;}
.mg-t-180{margin-top:180px;}
.mg-t-200{margin-top:200px;}
.mg-t-300{margin-top:300px;}
.mg-t-450{margin-top:450px;}



.mg-b-0{margin-bottom:0px;}
.mg-b-1{margin-bottom:1px;}
.mg-b-2{margin-bottom:2px;}
.mg-b-3{margin-bottom:3px;}
.mg-b-4{margin-bottom:4px;}
.mg-b-5{margin-bottom:5px;}
.mg-b-6{margin-bottom:6px;}
.mg-b-7{margin-bottom:7px;}
.mg-b-8{margin-bottom:8px;}
.mg-b-9{margin-bottom:9px;}
.mg-b-10{margin-bottom:10px;}
.mg-b-15{margin-bottom:15px;}
.mg-b-15n{margin-bottom:-15px;}
.mg-b-20{margin-bottom:20px;}
.mg-b-25{margin-bottom:25px;}
.mg-b-30{margin-bottom:30px !important;}
.mg-b-35{margin-bottom:35px;}
.mg-b-40{margin-bottom:40px;}
.mg-b-45{margin-bottom:45px;}
.mg-b-50{margin-bottom:50px;}
.mg-b-55{margin-bottom:55px;}
.mg-b-60{margin-bottom:60px;}
.mg-b-65{margin-bottom:65px;}
.mg-b-70{margin-bottom:70px;}
.mg-b-75{margin-bottom:75px;}
.mg-b-80{margin-bottom:80px;}
.mg-b-85{margin-bottom:85px;}
.mg-b-90{margin-bottom:90px;}
.mg-b-95{margin-bottom:95px;}
.mg-b-100{margin-bottom:100px;}



.mg-l-0{margin-left:0px;}
.mg-l-1{margin-left:1px;}
.mg-l-2{margin-left:2px;}
.mg-l-3{margin-left:3px;}
.mg-l-4{margin-left:4px;}
.mg-l-5{margin-left:5px;}
.mg-l-6{margin-left:6px;}
.mg-l-7{margin-left:7px;}
.mg-l-8{margin-left:8px;}
.mg-l-9{margin-left:9px;}
.mg-l-10{margin-left:10px;}
.mg-l-15{margin-left:15px;}
.mg-l-15n{margin-left:-15px;}
.mg-l-20{margin-left:20px !important;}
.mg-l-25{margin-left:25px;}
.mg-l-30{margin-left:30px;}
.mg-l-35{margin-left:35px;}
.mg-l-40{margin-left:40px;}
.mg-l-45{margin-left:45px;}
.mg-l-50{margin-left:50px;}
.mg-l-55{margin-left:55px;}
.mg-l-60{margin-left:60px;}
.mg-l-65{margin-left:65px;}
.mg-l-70{margin-left:70px;}
.mg-l-75{margin-left:75px;}
.mg-l-80{margin-left:80px;}
.mg-l-85{margin-left:85px;}
.mg-l-90{margin-left:90px;}
.mg-l-95{margin-left:95px;}
.mg-l-100{margin-left:100px;}



.mg-r-0{margin-right:0px !important;}
.mg-r-1{margin-right:1px;}
.mg-r-2{margin-right:2px;}
.mg-r-3{margin-right:3px;}
.mg-r-4{margin-right:4px;}
.mg-r-5{margin-right:5px !important;}
.mg-r-6{margin-right:6px;}
.mg-r-7{margin-right:7px;}
.mg-r-8{margin-right:8px;}
.mg-r-9{margin-right:9px;}
.mg-r-10{margin-right:10px;}
.mg-r-15{margin-right:15px;}
.mg-r-15n{margin-right:-15px;}
.mg-r-20{margin-right:20px !important;}
.mg-r-25{margin-right:25px;}
.mg-r-30{margin-right:30px;}
.mg-r-35{margin-right:35px;}
.mg-r-40{margin-right:40px;}
.mg-r-45{margin-right:45px;}
.mg-r-50{margin-right:50px;}
.mg-r-55{margin-right:55px;}
.mg-r-60{margin-right:60px;}
.mg-r-65{margin-right:65px;}
.mg-r-70{margin-right:70px;}
.mg-r-75{margin-right:75px;}
.mg-r-80{margin-right:80px;}
.mg-r-85{margin-right:85px;}
.mg-r-90{margin-right:90px;}
.mg-r-95{margin-right:95px;}
.mg-r-100{margin-right:100px;}

/*-------------- PADDING -------------------------------------------------------------------------------------------*/
.pd-0{padding:0px;}
.pd-5{padding:5px;}
.pd-10{padding:10px;}
.pd-100{padding:100px 0px;}
.pd-15{padding:15px;}
.pd-20{padding:20px;}
.pd-25{padding:25px;}
.pd-30{padding:30px;}
.pd-35{padding:35px;}
.pd-40{padding:40px;}
.pd-45{padding:45px;}
.pd-50{padding:50px;}


.pd-t-0{padding-top:0px;}
.pd-t-1{padding-top:1px;}
.pd-t-2{padding-top:2px;}
.pd-t-3{padding-top:3px;}
.pd-t-4{padding-top:4px;}
.pd-t-5{padding-top:5px;}
.pd-t-6{padding-top:6px;}
.pd-t-7{padding-top:7px;}
.pd-t-8{padding-top:8px;}
.pd-t-9{padding-top:9px;}
.pd-t-10{padding-top:10px;}
.pd-t-11{padding-top:11px;}
.pd-t-12{padding-top:12px;}
.pd-t-13{padding-top:13px;}
.pd-t-15{padding-top:15px;}
.pd-t-16{padding-top:16px;}
.pd-t-20{padding-top:20px;}
.pd-t-25{padding-top:25px;}
.pd-t-30{padding-top:30px;}
.pd-t-35{padding-top:35px;}
.pd-t-40{padding-top:40px;}
.pd-t-45{padding-top:45px;}
.pd-t-50{padding-top:50px;}
.pd-t-55{padding-top:55px;}
.pd-t-60{padding-top:60px;}
.pd-t-65{padding-top:65px;}
.pd-t-70{padding-top:70px;}
.pd-t-75{padding-top:75px;}
.pd-t-80{padding-top:80px;}
.pd-t-85{padding-top:85px;}
.pd-t-90{padding-top:90px;}
.pd-t-95{padding-top:95px;}
.pd-t-100{padding-top:100px;}


.pd-b-0{padding-bottom:0px;}
.pd-b-1{padding-bottom:1px;}
.pd-b-2{padding-bottom:2px;}
.pd-b-3{padding-bottom:3px;}
.pd-b-4{padding-bottom:4px;}
.pd-b-5{padding-bottom:5px;}
.pd-b-6{padding-bottom:6px;}
.pd-b-7{padding-bottom:7px;}
.pd-b-8{padding-bottom:8px;}
.pd-b-9{padding-bottom:9px;}
.pd-b-10{padding-bottom:10px;}
.pd-b-15{padding-bottom:15px;}
.pd-b-20{padding-bottom:20px;}
.pd-b-25{padding-bottom:25px;}
.pd-b-30{padding-bottom:30px;}
.pd-b-35{padding-bottom:35px;}
.pd-b-40{padding-bottom:40px;}
.pd-b-45{padding-bottom:45px;}
.pd-b-50{padding-bottom:50px;}
.pd-b-55{padding-bottom:55px;}
.pd-b-60{padding-bottom:60px;}
.pd-b-65{padding-bottom:65px;}
.pd-b-70{padding-bottom:70px;}
.pd-b-75{padding-bottom:75px;}
.pd-b-80{padding-bottom:80px;}
.pd-b-85{padding-bottom:85px;}
.pd-b-90{padding-bottom:90px;}
.pd-b-95{padding-bottom:95px;}
.pd-b-100{padding-bottom:100px;}


.pd-l-0{padding-left:0px !important;}
.pd-l-1{padding-left:1px;}
.pd-l-2{padding-left:2px;}
.pd-l-3{padding-left:3px;}
.pd-l-4{padding-left:4px;}
.pd-l-5{padding-left:5px;}
.pd-l-6{padding-left:6px;}
.pd-l-7{padding-left:7px;}
.pd-l-8{padding-left:8px;}
.pd-l-9{padding-left:9px;}
.pd-l-10{padding-left:10px;}
.pd-l-15{padding-left:15px;}
.pd-l-20{padding-left:20px;}
.pd-l-25{padding-left:25px;}
.pd-l-30{padding-left:30px;}
.pd-l-35{padding-left:35px;}
.pd-l-40{padding-left:40px;}
.pd-l-45{padding-left:45px;}
.pd-l-50{padding-left:50px;}
.pd-l-55{padding-left:55px;}
.pd-l-60{padding-left:60px;}
.pd-l-65{padding-left:65px;}
.pd-l-70{padding-left:70px;}
.pd-l-75{padding-left:75px;}
.pd-l-80{padding-left:80px;}
.pd-l-85{padding-left:85px;}
.pd-l-90{padding-left:90px;}
.pd-l-95{padding-left:95px;}
.pd-l-100{padding-left:100px;}


.pd-r-0{padding-right:0px;}
.pd-r-1{padding-right:1px;}
.pd-r-2{padding-right:2px;}
.pd-r-3{padding-right:3px;}
.pd-r-4{padding-right:4px;}
.pd-r-5{padding-right:5px;}
.pd-r-6{padding-right:6px;}
.pd-r-7{padding-right:7px;}
.pd-r-8{padding-right:8px;}
.pd-r-9{padding-right:9px;}
.pd-r-10{padding-right:10px;}
.pd-r-15{padding-right:15px;}
.pd-r-20{padding-right:20px;}
.pd-r-25{padding-right:25px;}
.pd-r-30{padding-right:30px;}
.pd-r-35{padding-right:35px;}
.pd-r-40{padding-right:40px;}
.pd-r-45{padding-right:45px;}
.pd-r-50{padding-right:50px;}
.pd-r-55{padding-right:55px;}
.pd-r-60{padding-right:60px;}
.pd-r-65{padding-right:65px;}
.pd-r-70{padding-right:70px;}
.pd-r-75{padding-right:75px;}
.pd-r-80{padding-right:80px;}
.pd-r-85{padding-right:85px;}
.pd-r-90{padding-right:90px;}
.pd-r-95{padding-right:95px;}
.pd-r-100{padding-right:100px;}

@media (max-width: 767px) {
    /*-------------- WIDTH -------------------------------------------------------------------------------------------*/
    .w-auto-xs{width:auto;}
    .w-0-xs{width:0px;}
    .w-5-xs{width:5px;}
    .w-10-xs{width:10px;}
    .w-15-xs{width:15px;}
    .w-16pc-xs{width:16%;}
    .w-20-xs{width:20px;}
    .w-20pc-xs{width:20%;}
    .w-25-xs{width:25px;}
    .w-25pc-xs{width:25%;}
    .w-30-xs{width:30px;}
    .w-33pc-xs{width:33.33%;}
    .w-35-xs{width:35px;}
    .w-40-xs{width:40px;}
    .w-40pc-xs{width:40%;}
    .w-45-xs{width:45px;}
    .w-50-xs{width:50px;}
    .w-50pc-xs{width:50%;}
    .w-55-xs{width:55px;}
    .w-60-xs{width:60px;}
    .w-60pc-xs{width:60%;}
    .w-65-xs{width:65px;}
    .w-70-xs{width:70px;}
    .w-75pc-xs{width:75%;}
    .w-75-xs{width:75px;}
    .w-80-xs{width:80px;}
    .w-85-xs{width:85px;}
    .w-90-xs{width:90px;}
    .w-95-xs{width:95px;}
    .w-100-xs{width:100px;}
    .w-100pc-xs{width:100%;}

    /*-------------- HEIGHT -------------------------------------------------------------------------------------------*/
    .h-auto-xs{height:auto;}
    .h-0-xs{height:0px;}
    .h-5-xs{height:5px;}
    .h-10-xs{height:10px;}
    .h-15-xs{height:15px;}
    .h-20-xs{height:20px;}
    .h-25-xs{height:25px;}
    .h-30-xs{height:30px;}
    .h-35-xs{height:35px;}
    .h-40-xs{height:40px;}
    .h-45-xs{height:45px;}
    .h-50-xs{height:50px;}
    .h-55-xs{height:55px;}
    .h-60-xs{height:60px;}
    .h-65-xs{height:65px;}
    .h-70-xs{height:70px;}
    .h-75-xs{height:75px;}
    .h-80-xs{height:80px !important;}
    .h-85-xs{height:85px;}
    .h-90-xs{height:90px;}
    .h-95-xs{height:95px;}
    .h-100-xs{height:100px;}
    .h-100pc-xs{height:100%;}
    .h-125-xs{height:125px;}
    .h-150-xs{height:150px;}
    .h-175-xs{height:175px;}
    .h-200-xs{height:200px;}
    .h-250-xs{height:250px;}
    .h-300-xs{height:300px;}
    .h-360-xs{height:360px !important;}
    .h-350-xs{height:350px;}
    .h-400-xs{height:400px;}
    .h-450-xs{height:450px;}
    .h-500-xs{height:500px;}
    .h-550-xs{height:550px;}
    .h-600-xs{height:600px;}
    .h-650-xs{height:650px;}
    .h-700-xs{height:700px;}
    .h-750-xs{height:750px;}
    .h-800-xs{height:800px;}
    .h-850-xs{height:850px;}
    .h-900-xs{height:900px;}
    .h-950-xs{height:950px;}
    .h-1000-xs{height:1000px;}

    /*-------------- MARGIN -------------------------------------------------------------------------------------------*/
    .mg-z-a-xs{margin-left: auto; margin-right:auto;}
    .mg-t-0-xs{margin-top:0px;}
    .mg-t-1-xs{margin-top:1px;}
    .mg-t-2-xs{margin-top:2px;}
    .mg-t-3-xs{margin-top:3px;}
    .mg-t-4-xs{margin-top:4px;}
    .mg-t-5-xs{margin-top:5px;}
    .mg-t-6-xs{margin-top:6px;}
    .mg-t-7-xs{margin-top:7px;}
    .mg-t-8-xs{margin-top:8px;}
    .mg-t-9-xs{margin-top:9px;}
    .mg-t-10-xs{margin-top:10px;}
    .mg-t-15-xs{margin-top:15px;}
    .mg-t-15n-xs{margin-top:-15px;}
    .mg-t-20-xs{margin-top:20px;}
    .mg-t-25-xs{margin-top:25px;}
    .mg-t-30-xs{margin-top:30px;}
    .mg-t-35-xs{margin-top:35px;}
    .mg-t-40-xs{margin-top:40px;}
    .mg-t-45-xs{margin-top:45px;}
    .mg-t-50-xs{margin-top:50px;}
    .mg-t-55-xs{margin-top:55px;}
    .mg-t-60-xs{margin-top:60px;}
    .mg-t-65-xs{margin-top:65px;}
    .mg-t-70-xs{margin-top:70px;}
    .mg-t-75-xs{margin-top:75px;}
    .mg-t-80-xs{margin-top:80px;}
    .mg-t-85-xs{margin-top:85px;}
    .mg-t-90-xs{margin-top:90px;}
    .mg-t-95-xs{margin-top:95px;}
    .mg-t-100-xs{margin-top:100px;}


    .mg-b-0-xs{margin-bottom:0px;}
    .mg-b-1-xs{margin-bottom:1px;}
    .mg-b-2-xs{margin-bottom:2px;}
    .mg-b-3-xs{margin-bottom:3px;}
    .mg-b-4-xs{margin-bottom:4px;}
    .mg-b-5-xs{margin-bottom:5px;}
    .mg-b-6-xs{margin-bottom:6px;}
    .mg-b-7-xs{margin-bottom:7px;}
    .mg-b-8-xs{margin-bottom:8px;}
    .mg-b-9-xs{margin-bottom:9px;}
    .mg-b-10-xs{margin-bottom:10px;}
    .mg-b-15-xs{margin-bottom:15px;}
    .mg-b-15n-xs{margin-bottom:-15px;}
    .mg-b-20-xs{margin-bottom:20px;}
    .mg-b-25-xs{margin-bottom:25px;}
    .mg-b-30-xs{margin-bottom:30px;}
    .mg-b-35-xs{margin-bottom:35px;}
    .mg-b-40-xs{margin-bottom:40px;}
    .mg-b-45-xs{margin-bottom:45px;}
    .mg-b-50-xs{margin-bottom:50px;}
    .mg-b-55-xs{margin-bottom:55px;}
    .mg-b-60-xs{margin-bottom:60px;}
    .mg-b-65-xs{margin-bottom:65px;}
    .mg-b-70-xs{margin-bottom:70px;}
    .mg-b-75-xs{margin-bottom:75px;}
    .mg-b-80-xs{margin-bottom:80px;}
    .mg-b-85-xs{margin-bottom:85px;}
    .mg-b-90-xs{margin-bottom:90px;}
    .mg-b-95-xs{margin-bottom:95px;}
    .mg-b-100-xs{margin-bottom:100px;}


    .mg-l-0-xs{margin-left:0px;}
    .mg-l-1-xs{margin-left:1px;}
    .mg-l-2-xs{margin-left:2px;}
    .mg-l-3-xs{margin-left:3px;}
    .mg-l-4-xs{margin-left:4px;}
    .mg-l-5-xs{margin-left:5px;}
    .mg-l-6-xs{margin-left:6px;}
    .mg-l-7-xs{margin-left:7px;}
    .mg-l-8-xs{margin-left:8px;}
    .mg-l-9-xs{margin-left:9px;}
    .mg-l-10-xs{margin-left:10px;}
    .mg-l-15-xs{margin-left:15px;}
    .mg-l-15n-xs{margin-left:-15px;}
    .mg-l-20-xs{margin-left:20px;}
    .mg-l-25-xs{margin-left:25px;}
    .mg-l-30-xs{margin-left:30px;}
    .mg-l-35-xs{margin-left:35px;}
    .mg-l-40-xs{margin-left:40px;}
    .mg-l-45-xs{margin-left:45px;}
    .mg-l-50-xs{margin-left:50px;}
    .mg-l-55-xs{margin-left:55px;}
    .mg-l-60-xs{margin-left:60px;}
    .mg-l-65-xs{margin-left:65px;}
    .mg-l-70-xs{margin-left:70px;}
    .mg-l-75-xs{margin-left:75px;}
    .mg-l-80-xs{margin-left:80px;}
    .mg-l-85-xs{margin-left:85px;}
    .mg-l-90-xs{margin-left:90px;}
    .mg-l-95-xs{margin-left:95px;}
    .mg-l-100-xs{margin-left:100px;}


    .mg-r-0-xs{margin-right:0px;}
    .mg-r-1-xs{margin-right:1px;}
    .mg-r-2-xs{margin-right:2px;}
    .mg-r-3-xs{margin-right:3px;}
    .mg-r-4-xs{margin-right:4px;}
    .mg-r-5-xs{margin-right:5px;}
    .mg-r-6-xs{margin-right:6px;}
    .mg-r-7-xs{margin-right:7px;}
    .mg-r-8-xs{margin-right:8px;}
    .mg-r-9-xs{margin-right:9px;}
    .mg-r-10-xs{margin-right:10px;}
    .mg-r-15-xs{margin-right:15px;}
    .mg-r-15n-xs{margin-right:-15px;}
    .mg-r-20-xs{margin-right:20px;}
    .mg-r-25-xs{margin-right:25px;}
    .mg-r-30-xs{margin-right:30px;}
    .mg-r-35-xs{margin-right:35px;}
    .mg-r-40-xs{margin-right:40px;}
    .mg-r-45-xs{margin-right:45px;}
    .mg-r-50-xs{margin-right:50px;}
    .mg-r-55-xs{margin-right:55px;}
    .mg-r-60-xs{margin-right:60px;}
    .mg-r-65-xs{margin-right:65px;}
    .mg-r-70-xs{margin-right:70px;}
    .mg-r-75-xs{margin-right:75px;}
    .mg-r-80-xs{margin-right:80px;}
    .mg-r-85-xs{margin-right:85px;}
    .mg-r-90-xs{margin-right:90px;}
    .mg-r-95-xs{margin-right:95px;}
    .mg-r-100-xs{margin-right:100px;}


   /*-------------- PADDING -------------------------------------------------------------------------------------------*/
    .pd-0-xs{padding:0px;}
    .pd-5-xs{padding:5px;}
    .pd-10-xs{padding:10px;}
    .pd-15-xs{padding:15px;}
    .pd-20-xs{padding:20px;}
    .pd-25-xs{padding:25px;}
    .pd-30-xs{padding:30px;}
    .pd-35-xs{padding:35px;}
    .pd-40-xs{padding:40px;}
    .pd-45-xs{padding:45px;}
    .pd-50-xs{padding:50px;}


    .pd-t-0-xs{padding-top:0px;}
    .pd-t-1-xs{padding-top:1px;}
    .pd-t-2-xs{padding-top:2px;}
    .pd-t-3-xs{padding-top:3px;}
    .pd-t-4-xs{padding-top:4px;}
    .pd-t-5-xs{padding-top:5px;}
    .pd-t-6-xs{padding-top:6px;}
    .pd-t-7-xs{padding-top:7px;}
    .pd-t-8-xs{padding-top:8px;}
    .pd-t-9-xs{padding-top:9px;}
    .pd-t-10-xs{padding-top:10px;}
    .pd-t-15-xs{padding-top:15px;}
    .pd-t-20-xs{padding-top:20px;}
    .pd-t-25-xs{padding-top:25px;}
    .pd-t-30-xs{padding-top:30px;}
    .pd-t-35-xs{padding-top:35px;}
    .pd-t-40-xs{padding-top:40px;}
    .pd-t-45-xs{padding-top:45px;}
    .pd-t-50-xs{padding-top:50px;}
    .pd-t-55-xs{padding-top:55px;}
    .pd-t-60-xs{padding-top:60px;}
    .pd-t-65-xs{padding-top:65px;}
    .pd-t-70-xs{padding-top:70px;}
    .pd-t-75-xs{padding-top:75px;}
    .pd-t-80-xs{padding-top:80px;}
    .pd-t-85-xs{padding-top:85px;}
    .pd-t-90-xs{padding-top:90px;}
    .pd-t-95-xs{padding-top:95px;}
    .pd-t-100-xs{padding-top:100px;}


    .pd-b-0-xs{padding-bottom:0px;}
    .pd-b-1-xs{padding-bottom:1px;}
    .pd-b-2-xs{padding-bottom:2px;}
    .pd-b-3-xs{padding-bottom:3px;}
    .pd-b-4-xs{padding-bottom:4px;}
    .pd-b-5-xs{padding-bottom:5px;}
    .pd-b-6-xs{padding-bottom:6px;}
    .pd-b-7-xs{padding-bottom:7px;}
    .pd-b-8-xs{padding-bottom:8px;}
    .pd-b-9-xs{padding-bottom:9px;}
    .pd-b-10-xs{padding-bottom:10px;}
    .pd-b-15-xs{padding-bottom:15px;}
    .pd-b-20-xs{padding-bottom:20px;}
    .pd-b-25-xs{padding-bottom:25px;}
    .pd-b-30-xs{padding-bottom:30px;}
    .pd-b-35-xs{padding-bottom:35px;}
    .pd-b-40-xs{padding-bottom:40px;}
    .pd-b-45-xs{padding-bottom:45px;}
    .pd-b-50-xs{padding-bottom:50px;}
    .pd-b-55-xs{padding-bottom:55px;}
    .pd-b-60-xs{padding-bottom:60px;}
    .pd-b-65-xs{padding-bottom:65px;}
    .pd-b-70-xs{padding-bottom:70px;}
    .pd-b-75-xs{padding-bottom:75px;}
    .pd-b-80-xs{padding-bottom:80px;}
    .pd-b-85-xs{padding-bottom:85px;}
    .pd-b-90-xs{padding-bottom:90px;}
    .pd-b-95-xs{padding-bottom:95px;}
    .pd-b-100-xs{padding-bottom:100px;}


    .pd-l-0-xs{padding-left:0px;}
    .pd-l-1-xs{padding-left:1px;}
    .pd-l-2-xs{padding-left:2px;}
    .pd-l-3-xs{padding-left:3px;}
    .pd-l-4-xs{padding-left:4px;}
    .pd-l-5-xs{padding-left:5px;}
    .pd-l-6-xs{padding-left:6px;}
    .pd-l-7-xs{padding-left:7px;}
    .pd-l-8-xs{padding-left:8px;}
    .pd-l-9-xs{padding-left:9px;}
    .pd-l-10-xs{padding-left:10px;}
    .pd-l-15-xs{padding-left:15px;}
    .pd-l-20-xs{padding-left:20px;}
    .pd-l-25-xs{padding-left:25px;}
    .pd-l-30-xs{padding-left:30px;}
    .pd-l-35-xs{padding-left:35px;}
    .pd-l-40-xs{padding-left:40px;}
    .pd-l-45-xs{padding-left:45px;}
    .pd-l-50-xs{padding-left:50px;}
    .pd-l-55-xs{padding-left:55px;}
    .pd-l-60-xs{padding-left:60px;}
    .pd-l-65-xs{padding-left:65px;}
    .pd-l-70-xs{padding-left:70px;}
    .pd-l-75-xs{padding-left:75px;}
    .pd-l-80-xs{padding-left:80px;}
    .pd-l-85-xs{padding-left:85px;}
    .pd-l-90-xs{padding-left:90px;}
    .pd-l-95-xs{padding-left:95px;}
    .pd-l-100-xs{padding-left:100px;}


    .pd-r-0-xs{padding-right:0px;}
    .pd-r-1-xs{padding-right:1px;}
    .pd-r-2-xs{padding-right:2px;}
    .pd-r-3-xs{padding-right:3px;}
    .pd-r-4-xs{padding-right:4px;}
    .pd-r-5-xs{padding-right:5px;}
    .pd-r-6-xs{padding-right:6px;}
    .pd-r-7-xs{padding-right:7px;}
    .pd-r-8-xs{padding-right:8px;}
    .pd-r-9-xs{padding-right:9px;}
    .pd-r-10-xs{padding-right:10px;}
    .pd-r-15-xs{padding-right:15px;}
    .pd-r-20-xs{padding-right:20px;}
    .pd-r-25-xs{padding-right:25px;}
    .pd-r-30-xs{padding-right:30px;}
    .pd-r-35-xs{padding-right:35px;}
    .pd-r-40-xs{padding-right:40px;}
    .pd-r-45-xs{padding-right:45px;}
    .pd-r-50-xs{padding-right:50px;}
    .pd-r-55-xs{padding-right:55px;}
    .pd-r-60-xs{padding-right:60px;}
    .pd-r-65-xs{padding-right:65px;}
    .pd-r-70-xs{padding-right:70px;}
    .pd-r-75-xs{padding-right:75px;}
    .pd-r-80-xs{padding-right:80px;}
    .pd-r-85-xs{padding-right:85px;}
    .pd-r-90-xs{padding-right:90px;}
    .pd-r-95-xs{padding-right:95px;}
    .pd-r-100-xs{padding-right:100px;}

}

@media (min-width: 768px) and (max-width: 991px) {
    /*-------------- WIDTH -------------------------------------------------------------------------------------------*/
    .w-auto-sm{width:auto;}
    .w-0-sm{width:0px;}
    .w-5-sm{width:5px;}
    .w-10-sm{width:10px;}
    .w-15-sm{width:15px;}
    .w-16pc-sm{width:16%;}
    .w-20-sm{width:20px;}
    .w-20pc-sm{width:20%;}
    .w-25-sm{width:25px;}
    .w-25pc-sm{width:25%;}
    .w-30-sm{width:30px;}
    .w-33pc-sm{width:33.33%;}
    .w-35-sm{width:35px;}
    .w-40-sm{width:40px;}
    .w-40pc-sm{width:40%;}
    .w-45-sm{width:45px;}
    .w-50-sm{width:50px;}
    .w-50pc-sm{width:50%;}
    .w-55-sm{width:55px;}
    .w-60-sm{width:60px;}
    .w-60pc-sm{width:60%;}
    .w-65-sm{width:65px;}
    .w-70-sm{width:70px;}
    .w-75pc-sm{width:75%;}
    .w-75-sm{width:75px;}
    .w-80-sm{width:80px;}
    .w-85-sm{width:85px;}
    .w-90-sm{width:90px;}
    .w-95-sm{width:95px;}
    .w-100-sm{width:100px;}
    .w-100pc-sm{width:100%;}

    /*-------------- HEIGHT -------------------------------------------------------------------------------------------*/
    .h-auto-sm{height:auto;}
    .h-0-sm{height:0px;}
    .h-5-sm{height:5px;}
    .h-10-sm{height:10px;}
    .h-15-sm{height:15px;}
    .h-20-sm{height:20px;}
    .h-25-sm{height:25px;}
    .h-30-sm{height:30px;}
    .h-35-sm{height:35px;}
    .h-40-sm{height:40px;}
    .h-45-sm{height:45px;}
    .h-50-sm{height:50px;}
    .h-55-sm{height:55px;}
    .h-60-sm{height:60px;}
    .h-65-sm{height:65px;}
    .h-70-sm{height:70px;}
    .h-75-sm{height:75px;}
    .h-80-sm{height:80px;}
    .h-85-sm{height:85px;}
    .h-90-sm{height:90px;}
    .h-95-sm{height:95px;}
    .h-100-sm{height:100px;}
    .h-100pc-sm{height:100%;}
    .h-125-sm{height:125px;}
    .h-150-sm{height:150px;}
    .h-175-sm{height:175px;}
    .h-200-sm{height:200px;}
    .h-250-sm{height:250px;}
    .h-300-sm{height:300px;}
    .h-360-sm{height:360px !important;}
    .h-350-sm{height:350px;}
    .h-400-sm{height:400px;}
    .h-450-sm{height:450px;}
    .h-500-sm{height:500px;}
    .h-550-sm{height:550px;}
    .h-600-sm{height:600px;}
    .h-650-sm{height:650px;}
    .h-700-sm{height:700px;}
    .h-750-sm{height:750px;}
    .h-800-sm{height:800px;}
    .h-850-sm{height:850px;}
    .h-900-sm{height:900px;}
    .h-950-sm{height:950px;}
    .h-1000-sm{height:1000px;}


    /*-------------- MARGIN -------------------------------------------------------------------------------------------*/
    .mg-z-a-sm{margin-left: auto; margin-right:auto;}
    .mg-t-0-sm{margin-top:0px;}
    .mg-t-1-sm{margin-top:1px;}
    .mg-t-2-sm{margin-top:2px;}
    .mg-t-3-sm{margin-top:3px;}
    .mg-t-4-sm{margin-top:4px;}
    .mg-t-5-sm{margin-top:5px;}
    .mg-t-6-sm{margin-top:6px;}
    .mg-t-7-sm{margin-top:7px;}
    .mg-t-8-sm{margin-top:8px;}
    .mg-t-9-sm{margin-top:9px;}
    .mg-t-10-sm{margin-top:10px;}
    .mg-t-15-sm{margin-top:15px;}
    .mg-t-15n-sm{margin-top:-15px;}
    .mg-t-20-sm{margin-top:20px;}
    .mg-t-25-sm{margin-top:25px;}
    .mg-t-30-sm{margin-top:30px;}
    .mg-t-35-sm{margin-top:35px;}
    .mg-t-40-sm{margin-top:40px;}
    .mg-t-45-sm{margin-top:45px;}
    .mg-t-50-sm{margin-top:50px;}
    .mg-t-55-sm{margin-top:55px;}
    .mg-t-60-sm{margin-top:60px;}
    .mg-t-65-sm{margin-top:65px;}
    .mg-t-70-sm{margin-top:70px;}
    .mg-t-75-sm{margin-top:75px;}
    .mg-t-80-sm{margin-top:80px;}
    .mg-t-85-sm{margin-top:85px;}
    .mg-t-90-sm{margin-top:90px;}
    .mg-t-95-sm{margin-top:95px;}
    .mg-t-100-sm{margin-top:100px;}

    .mg-b-0-sm{margin-bottom:0px;}
    .mg-b-1-sm{margin-bottom:1px;}
    .mg-b-2-sm{margin-bottom:2px;}
    .mg-b-3-sm{margin-bottom:3px;}
    .mg-b-4-sm{margin-bottom:4px;}
    .mg-b-5-sm{margin-bottom:5px;}
    .mg-b-6-sm{margin-bottom:6px;}
    .mg-b-7-sm{margin-bottom:7px;}
    .mg-b-8-sm{margin-bottom:8px;}
    .mg-b-9-sm{margin-bottom:9px;}
    .mg-b-10-sm{margin-bottom:10px;}
    .mg-b-15-sm{margin-bottom:15px;}
    .mg-b-15n-sm{margin-bottom:-15px;}
    .mg-b-20-sm{margin-bottom:20px;}
    .mg-b-25-sm{margin-bottom:25px;}
    .mg-b-30-sm{margin-bottom:30px;}
    .mg-b-35-sm{margin-bottom:35px;}
    .mg-b-40-sm{margin-bottom:40px;}
    .mg-b-45-sm{margin-bottom:45px;}
    .mg-b-50-sm{margin-bottom:50px;}
    .mg-b-55-sm{margin-bottom:55px;}
    .mg-b-60-sm{margin-bottom:60px;}
    .mg-b-65-sm{margin-bottom:65px;}
    .mg-b-70-sm{margin-bottom:70px;}
    .mg-b-75-sm{margin-bottom:75px;}
    .mg-b-80-sm{margin-bottom:80px;}
    .mg-b-85-sm{margin-bottom:85px;}
    .mg-b-90-sm{margin-bottom:90px;}
    .mg-b-95-sm{margin-bottom:95px;}
    .mg-b-100-sm{margin-bottom:100px;}



    .mg-l-0-sm{margin-left:0px;}
    .mg-l-1-sm{margin-left:1px;}
    .mg-l-2-sm{margin-left:2px;}
    .mg-l-3-sm{margin-left:3px;}
    .mg-l-4-sm{margin-left:4px;}
    .mg-l-5-sm{margin-left:5px;}
    .mg-l-6-sm{margin-left:6px;}
    .mg-l-7-sm{margin-left:7px;}
    .mg-l-8-sm{margin-left:8px;}
    .mg-l-9-sm{margin-left:9px;}
    .mg-l-10-sm{margin-left:10px;}
    .mg-l-15-sm{margin-left:15px;}
    .mg-l-15n-sm{margin-left:-15px;}
    .mg-l-20-sm{margin-left:20px;}
    .mg-l-25-sm{margin-left:25px;}
    .mg-l-30-sm{margin-left:30px;}
    .mg-l-35-sm{margin-left:35px;}
    .mg-l-40-sm{margin-left:40px;}
    .mg-l-45-sm{margin-left:45px;}
    .mg-l-50-sm{margin-left:50px;}
    .mg-l-55-sm{margin-left:55px;}
    .mg-l-60-sm{margin-left:60px;}
    .mg-l-65-sm{margin-left:65px;}
    .mg-l-70-sm{margin-left:70px;}
    .mg-l-75-sm{margin-left:75px;}
    .mg-l-80-sm{margin-left:80px;}
    .mg-l-85-sm{margin-left:85px;}
    .mg-l-90-sm{margin-left:90px;}
    .mg-l-95-sm{margin-left:95px;}
    .mg-l-100-sm{margin-left:100px;}



    .mg-r-0-sm{margin-right:0px;}
    .mg-r-1-sm{margin-right:1px;}
    .mg-r-2-sm{margin-right:2px;}
    .mg-r-3-sm{margin-right:3px;}
    .mg-r-4-sm{margin-right:4px;}
    .mg-r-5-sm{margin-right:5px;}
    .mg-r-6-sm{margin-right:6px;}
    .mg-r-7-sm{margin-right:7px;}
    .mg-r-8-sm{margin-right:8px;}
    .mg-r-9-sm{margin-right:9px;}
    .mg-r-10-sm{margin-right:10px;}
    .mg-r-15-sm{margin-right:15px;}
    .mg-r-15n-sm{margin-right:-15px;}
    .mg-r-20-sm{margin-right:20px;}
    .mg-r-25-sm{margin-right:25px;}
    .mg-r-30-sm{margin-right:30px;}
    .mg-r-35-sm{margin-right:35px;}
    .mg-r-40-sm{margin-right:40px;}
    .mg-r-45-sm{margin-right:45px;}
    .mg-r-50-sm{margin-right:50px;}
    .mg-r-55-sm{margin-right:55px;}
    .mg-r-60-sm{margin-right:60px;}
    .mg-r-65-sm{margin-right:65px;}
    .mg-r-70-sm{margin-right:70px;}
    .mg-r-75-sm{margin-right:75px;}
    .mg-r-80-sm{margin-right:80px;}
    .mg-r-85-sm{margin-right:85px;}
    .mg-r-90-sm{margin-right:90px;}
    .mg-r-95-sm{margin-right:95px;}
    .mg-r-100-sm{margin-right:100px;}


    /*-------------- PADDING -------------------------------------------------------------------------------------------*/
    .pd-0-sm{padding:0px;}
    .pd-5-sm{padding:5px;}
    .pd-10-sm{padding:10px;}
    .pd-15-sm{padding:15px;}
    .pd-20-sm{padding:20px;}
    .pd-25-sm{padding:25px;}
    .pd-30-sm{padding:30px;}
    .pd-35-sm{padding:35px;}
    .pd-40-sm{padding:40px;}
    .pd-45-sm{padding:45px;}
    .pd-50-sm{padding:50px;}

    .pd-t-0-sm{padding-top:0px;}
    .pd-t-1-sm{padding-top:1px;}
    .pd-t-2-sm{padding-top:2px;}
    .pd-t-3-sm{padding-top:3px;}
    .pd-t-4-sm{padding-top:4px;}
    .pd-t-5-sm{padding-top:5px;}
    .pd-t-6-sm{padding-top:6px;}
    .pd-t-7-sm{padding-top:7px;}
    .pd-t-8-sm{padding-top:8px;}
    .pd-t-9-sm{padding-top:9px;}
    .pd-t-10-sm{padding-top:10px;}
    .pd-t-15-sm{padding-top:15px;}
    .pd-t-20-sm{padding-top:20px;}
    .pd-t-25-sm{padding-top:25px;}
    .pd-t-30-sm{padding-top:30px;}
    .pd-t-35-sm{padding-top:35px;}
    .pd-t-40-sm{padding-top:40px;}
    .pd-t-45-sm{padding-top:45px;}
    .pd-t-50-sm{padding-top:50px;}
    .pd-t-55-sm{padding-top:55px;}
    .pd-t-60-sm{padding-top:60px;}
    .pd-t-65-sm{padding-top:65px;}
    .pd-t-70-sm{padding-top:70px;}
    .pd-t-75-sm{padding-top:75px;}
    .pd-t-80-sm{padding-top:80px;}
    .pd-t-85-sm{padding-top:85px;}
    .pd-t-90-sm{padding-top:90px;}
    .pd-t-95-sm{padding-top:95px;}
    .pd-t-100-sm{padding-top:100px;}


    .pd-b-0-sm{padding-bottom:0px;}
    .pd-b-1-sm{padding-bottom:1px;}
    .pd-b-2-sm{padding-bottom:2px;}
    .pd-b-3-sm{padding-bottom:3px;}
    .pd-b-4-sm{padding-bottom:4px;}
    .pd-b-5-sm{padding-bottom:5px;}
    .pd-b-6-sm{padding-bottom:6px;}
    .pd-b-7-sm{padding-bottom:7px;}
    .pd-b-8-sm{padding-bottom:8px;}
    .pd-b-9-sm{padding-bottom:9px;}
    .pd-b-10-sm{padding-bottom:10px;}
    .pd-b-15-sm{padding-bottom:15px;}
    .pd-b-20-sm{padding-bottom:20px;}
    .pd-b-25-sm{padding-bottom:25px;}
    .pd-b-30-sm{padding-bottom:30px;}
    .pd-b-35-sm{padding-bottom:35px;}
    .pd-b-40-sm{padding-bottom:40px;}
    .pd-b-45-sm{padding-bottom:45px;}
    .pd-b-50-sm{padding-bottom:50px;}
    .pd-b-55-sm{padding-bottom:55px;}
    .pd-b-60-sm{padding-bottom:60px;}
    .pd-b-65-sm{padding-bottom:65px;}
    .pd-b-70-sm{padding-bottom:70px;}
    .pd-b-75-sm{padding-bottom:75px;}
    .pd-b-80-sm{padding-bottom:80px;}
    .pd-b-85-sm{padding-bottom:85px;}
    .pd-b-90-sm{padding-bottom:90px;}
    .pd-b-95-sm{padding-bottom:95px;}
    .pd-b-100-sm{padding-bottom:100px;}



    .pd-l-0-sm{padding-left:0px;}
    .pd-l-1-sm{padding-left:1px;}
    .pd-l-2-sm{padding-left:2px;}
    .pd-l-3-sm{padding-left:3px;}
    .pd-l-4-sm{padding-left:4px;}
    .pd-l-5-sm{padding-left:5px;}
    .pd-l-6-sm{padding-left:6px;}
    .pd-l-7-sm{padding-left:7px;}
    .pd-l-8-sm{padding-left:8px;}
    .pd-l-9-sm{padding-left:9px;}
    .pd-l-10-sm{padding-left:10px;}
    .pd-l-15-sm{padding-left:15px;}
    .pd-l-20-sm{padding-left:20px;}
    .pd-l-25-sm{padding-left:25px;}
    .pd-l-30-sm{padding-left:30px;}
    .pd-l-35-sm{padding-left:35px;}
    .pd-l-40-sm{padding-left:40px;}
    .pd-l-45-sm{padding-left:45px;}
    .pd-l-50-sm{padding-left:50px;}
    .pd-l-55-sm{padding-left:55px;}
    .pd-l-60-sm{padding-left:60px;}
    .pd-l-65-sm{padding-left:65px;}
    .pd-l-70-sm{padding-left:70px;}
    .pd-l-75-sm{padding-left:75px;}
    .pd-l-80-sm{padding-left:80px;}
    .pd-l-85-sm{padding-left:85px;}
    .pd-l-90-sm{padding-left:90px;}
    .pd-l-95-sm{padding-left:95px;}
    .pd-l-100-sm{padding-left:100px;}



    .pd-r-0-sm{padding-right:0px;}
    .pd-r-1-sm{padding-right:1px;}
    .pd-r-2-sm{padding-right:2px;}
    .pd-r-3-sm{padding-right:3px;}
    .pd-r-4-sm{padding-right:4px;}
    .pd-r-5-sm{padding-right:5px;}
    .pd-r-6-sm{padding-right:6px;}
    .pd-r-7-sm{padding-right:7px;}
    .pd-r-8-sm{padding-right:8px;}
    .pd-r-9-sm{padding-right:9px;}
    .pd-r-10-sm{padding-right:10px;}
    .pd-r-15-sm{padding-right:15px;}
    .pd-r-20-sm{padding-right:20px;}
    .pd-r-25-sm{padding-right:25px;}
    .pd-r-30-sm{padding-right:30px;}
    .pd-r-35-sm{padding-right:35px;}
    .pd-r-40-sm{padding-right:40px;}
    .pd-r-45-sm{padding-right:45px;}
    .pd-r-50-sm{padding-right:50px;}
    .pd-r-55-sm{padding-right:55px;}
    .pd-r-60-sm{padding-right:60px;}
    .pd-r-65-sm{padding-right:65px;}
    .pd-r-70-sm{padding-right:70px;}
    .pd-r-75-sm{padding-right:75px;}
    .pd-r-80-sm{padding-right:80px;}
    .pd-r-85-sm{padding-right:85px;}
    .pd-r-90-sm{padding-right:90px;}
    .pd-r-95-sm{padding-right:95px;}
    .pd-r-100-sm{padding-right:100px;}
}

@media (min-width: 992px) and (max-width: 1199px) {
    /*-------------- WIDTH -------------------------------------------------------------------------------------------*/
    .w-auto-md{width:auto;}
    .w-0-md{width:0px;}
    .w-5-md{width:5px;}
    .w-10-md{width:10px;}
    .w-15-md{width:15px;}
    .w-16pc-md{width:16%;}
    .w-20-md{width:20px;}
    .w-20pc-md{width:20%;}
    .w-25-md{width:25px;}
    .w-25pc-md{width:25%;}
    .w-30-md{width:30px;}
    .w-33pc-md{width:33.33%;}
    .w-35-md{width:35px;}
    .w-40-md{width:40px;}
    .w-40pc-md{width:40%;}
    .w-45-md{width:45px;}
    .w-50-md{width:50px;}
    .w-50pc-md{width:50%;}
    .w-55-md{width:55px;}
    .w-60-md{width:60px;}
    .w-60pc-md{width:60%;}
    .w-65-md{width:65px;}
    .w-70-md{width:70px;}
    .w-75pc-md{width:75%;}
    .w-75-md{width:75px;}
    .w-80-md{width:80px;}
    .w-85-md{width:85px;}
    .w-90-md{width:90px;}
    .w-95-md{width:95px;}
    .w-100-md{width:100px;}
    .w-100pc-md{width:100%;}

    /*-------------- HEIGHT -------------------------------------------------------------------------------------------*/
    .h-auto-md{height:auto;}
    .h-0-md{height:0px;}
    .h-5-md{height:5px;}
    .h-10-md{height:10px;}
    .h-15-md{height:15px;}
    .h-20-md{height:20px;}
    .h-25-md{height:25px;}
    .h-30-md{height:30px;}
    .h-35-md{height:35px;}
    .h-40-md{height:40px;}
    .h-45-md{height:45px;}
    .h-50-md{height:50px;}
    .h-55-md{height:55px;}
    .h-60-md{height:60px;}
    .h-65-md{height:65px;}
    .h-70-md{height:70px;}
    .h-75-md{height:75px;}
    .h-80-md{height:80px;}
    .h-85-md{height:85px;}
    .h-90-md{height:90px;}
    .h-95-md{height:95px;}
    .h-100-md{height:100px;}
    .h-130-md{height:130px;}
    .h-100pc-md{height:100%;}
    .h-125-md{height:125px;}
    .h-150-md{height:150px;}
    .h-175-md{height:175px;}
    .h-200-md{height:200px;}
    .h-250-md{height:250px;}
    .h-300-md{height:300px;}
    .h-350-md{height:350px;}
    .h-400-md{height:400px;}
    .h-450-md{height:450px;}
    .h-500-md{height:500px;}
    .h-550-md{height:550px;}
    .h-600-md{height:600px;}
    .h-650-md{height:650px;}
    .h-700-md{height:700px;}
    .h-750-md{height:750px;}
    .h-800-md{height:800px;}
    .h-850-md{height:850px;}
    .h-900-md{height:900px;}
    .h-950-md{height:950px;}
    .h-1000-md{height:1000px;}


    /*-------------- MARGIN -------------------------------------------------------------------------------------------*/
    .mg-z-a-md{margin-left: auto; margin-right:auto;}
    .mg-0{margin:0px;}
    .mg-t-0-md{margin-top:0px;}
    .mg-t-1-md{margin-top:1px;}
    .mg-t-2-md{margin-top:2px;}
    .mg-t-3-md{margin-top:3px;}
    .mg-t-4-md{margin-top:4px;}
    .mg-t-5-md{margin-top:5px;}
    .mg-t-6-md{margin-top:6px;}
    .mg-t-7-md{margin-top:7px;}
    .mg-t-8-md{margin-top:8px;}
    .mg-t-9-md{margin-top:9px;}
    .mg-t-10-md{margin-top:10px;}
    .mg-t-15-md{margin-top:15px;}
    .mg-t-15n-md{margin-top:-15px;}
    .mg-t-20-md{margin-top:20px;}
    .mg-t-25-md{margin-top:25px;}
    .mg-t-30-md{margin-top:30px;}
    .mg-t-35-md{margin-top:35px;}
    .mg-t-40-md{margin-top:40px;}
    .mg-t-45-md{margin-top:45px;}
    .mg-t-50-md{margin-top:50px;}
    .mg-t-55-md{margin-top:55px;}
    .mg-t-60-md{margin-top:60px;}
    .mg-t-65-md{margin-top:65px;}
    .mg-t-70-md{margin-top:70px;}
    .mg-t-75-md{margin-top:75px;}
    .mg-t-80-md{margin-top:80px;}
    .mg-t-85-md{margin-top:85px;}
    .mg-t-90-md{margin-top:90px;}
    .mg-t-95-md{margin-top:95px;}
    .mg-t-100-md{margin-top:100px;}


    .mg-b-0-md{margin-bottom:0px;}
    .mg-b-1-md{margin-bottom:1px;}
    .mg-b-2-md{margin-bottom:2px;}
    .mg-b-3-md{margin-bottom:3px;}
    .mg-b-4-md{margin-bottom:4px;}
    .mg-b-5-md{margin-bottom:5px;}
    .mg-b-6-md{margin-bottom:6px;}
    .mg-b-7-md{margin-bottom:7px;}
    .mg-b-8-md{margin-bottom:8px;}
    .mg-b-9-md{margin-bottom:9px;}
    .mg-b-10-md{margin-bottom:10px;}
    .mg-b-15-md{margin-bottom:15px;}
    .mg-b-15n-md{margin-bottom:-15px;}
    .mg-b-20-md{margin-bottom:20px;}
    .mg-b-25-md{margin-bottom:25px;}
    .mg-b-30-md{margin-bottom:30px;}
    .mg-b-35-md{margin-bottom:35px;}
    .mg-b-40-md{margin-bottom:40px;}
    .mg-b-45-md{margin-bottom:45px;}
    .mg-b-50-md{margin-bottom:50px;}
    .mg-b-55-md{margin-bottom:55px;}
    .mg-b-60-md{margin-bottom:60px;}
    .mg-b-65-md{margin-bottom:65px;}
    .mg-b-70-md{margin-bottom:70px;}
    .mg-b-75-md{margin-bottom:75px;}
    .mg-b-80-md{margin-bottom:80px;}
    .mg-b-85-md{margin-bottom:85px;}
    .mg-b-90-md{margin-bottom:90px;}
    .mg-b-95-md{margin-bottom:95px;}
    .mg-b-100-md{margin-bottom:100px;}


    .mg-l-0-md{margin-left:0px;}
    .mg-l-1-md{margin-left:1px;}
    .mg-l-2-md{margin-left:2px;}
    .mg-l-3-md{margin-left:3px;}
    .mg-l-4-md{margin-left:4px;}
    .mg-l-5-md{margin-left:5px;}
    .mg-l-6-md{margin-left:6px;}
    .mg-l-7-md{margin-left:7px;}
    .mg-l-8-md{margin-left:8px;}
    .mg-l-9-md{margin-left:9px;}
    .mg-l-10-md{margin-left:10px;}
    .mg-l-15-md{margin-left:15px;}
    .mg-l-15n-md{margin-left:-15px;}
    .mg-l-20-md{margin-left:20px;}
    .mg-l-25-md{margin-left:25px;}
    .mg-l-30-md{margin-left:30px;}
    .mg-l-35-md{margin-left:35px;}
    .mg-l-40-md{margin-left:40px;}
    .mg-l-45-md{margin-left:45px;}
    .mg-l-50-md{margin-left:50px;}
    .mg-l-55-md{margin-left:55px;}
    .mg-l-60-md{margin-left:60px;}
    .mg-l-65-md{margin-left:65px;}
    .mg-l-70-md{margin-left:70px;}
    .mg-l-75-md{margin-left:75px;}
    .mg-l-80-md{margin-left:80px;}
    .mg-l-85-md{margin-left:85px;}
    .mg-l-90-md{margin-left:90px;}
    .mg-l-95-md{margin-left:95px;}
    .mg-l-100-md{margin-left:100px;}


    .mg-r-0-md{margin-right:0px;}
    .mg-r-1-md{margin-right:1px;}
    .mg-r-2-md{margin-right:2px;}
    .mg-r-3-md{margin-right:3px;}
    .mg-r-4-md{margin-right:4px;}
    .mg-r-5-md{margin-right:5px;}
    .mg-r-6-md{margin-right:6px;}
    .mg-r-7-md{margin-right:7px;}
    .mg-r-8-md{margin-right:8px;}
    .mg-r-9-md{margin-right:9px;}
    .mg-r-10-md{margin-right:10px;}
    .mg-r-15-md{margin-right:15px;}
    .mg-r-15n-md{margin-right:-15px;}
    .mg-r-20-md{margin-right:20px;}
    .mg-r-25-md{margin-right:25px;}
    .mg-r-30-md{margin-right:30px;}
    .mg-r-35-md{margin-right:35px;}
    .mg-r-40-md{margin-right:40px;}
    .mg-r-45-md{margin-right:45px;}
    .mg-r-50-md{margin-right:50px;}
    .mg-r-55-md{margin-right:55px;}
    .mg-r-60-md{margin-right:60px;}
    .mg-r-65-md{margin-right:65px;}
    .mg-r-70-md{margin-right:70px;}
    .mg-r-75-md{margin-right:75px;}
    .mg-r-80-md{margin-right:80px;}
    .mg-r-85-md{margin-right:85px;}
    .mg-r-90-md{margin-right:90px;}
    .mg-r-95-md{margin-right:95px;}
    .mg-r-100-md{margin-right:100px;}

    /*-------------- PADDING -------------------------------------------------------------------------------------------*/
    .pd-0-md{padding:0px;}
    .pd-5-md{padding:5px;}
    .pd-10-md{padding:10px;}
    .pd-15-md{padding:15px;}
    .pd-20-md{padding:20px;}
    .pd-25-md{padding:25px;}
    .pd-30-md{padding:30px;}
    .pd-35-md{padding:35px;}
    .pd-40-md{padding:40px;}
    .pd-45-md{padding:45px;}
    .pd-50-md{padding:50px;}


    .pd-t-0-md{padding-top:0px;}
    .pd-t-1-md{padding-top:1px;}
    .pd-t-2-md{padding-top:2px;}
    .pd-t-3-md{padding-top:3px;}
    .pd-t-4-md{padding-top:4px;}
    .pd-t-5-md{padding-top:5px;}
    .pd-t-6-md{padding-top:6px;}
    .pd-t-7-md{padding-top:7px;}
    .pd-t-8-md{padding-top:8px;}
    .pd-t-9-md{padding-top:9px;}
    .pd-t-10-md{padding-top:10px;}
    .pd-t-15-md{padding-top:15px;}
    .pd-t-20-md{padding-top:20px;}
    .pd-t-25-md{padding-top:25px;}
    .pd-t-30-md{padding-top:30px;}
    .pd-t-35-md{padding-top:35px;}
    .pd-t-40-md{padding-top:40px;}
    .pd-t-45-md{padding-top:45px;}
    .pd-t-50-md{padding-top:50px;}
    .pd-t-55-md{padding-top:55px;}
    .pd-t-60-md{padding-top:60px;}
    .pd-t-65-md{padding-top:65px;}
    .pd-t-70-md{padding-top:70px;}
    .pd-t-75-md{padding-top:75px;}
    .pd-t-80-md{padding-top:80px;}
    .pd-t-85-md{padding-top:85px;}
    .pd-t-90-md{padding-top:90px;}
    .pd-t-95-md{padding-top:95px;}
    .pd-t-100-md{padding-top:100px;}



    .pd-b-0-md{padding-bottom:0px;}
    .pd-b-1-md{padding-bottom:1px;}
    .pd-b-2-md{padding-bottom:2px;}
    .pd-b-3-md{padding-bottom:3px;}
    .pd-b-4-md{padding-bottom:4px;}
    .pd-b-5-md{padding-bottom:5px;}
    .pd-b-6-md{padding-bottom:6px;}
    .pd-b-7-md{padding-bottom:7px;}
    .pd-b-8-md{padding-bottom:8px;}
    .pd-b-9-md{padding-bottom:9px;}
    .pd-b-10-md{padding-bottom:10px;}
    .pd-b-15-md{padding-bottom:15px;}
    .pd-b-20-md{padding-bottom:20px;}
    .pd-b-25-md{padding-bottom:25px;}
    .pd-b-30-md{padding-bottom:30px;}
    .pd-b-35-md{padding-bottom:35px;}
    .pd-b-40-md{padding-bottom:40px;}
    .pd-b-45-md{padding-bottom:45px;}
    .pd-b-50-md{padding-bottom:50px;}
    .pd-b-55-md{padding-bottom:55px;}
    .pd-b-60-md{padding-bottom:60px;}
    .pd-b-65-md{padding-bottom:65px;}
    .pd-b-70-md{padding-bottom:70px;}
    .pd-b-75-md{padding-bottom:75px;}
    .pd-b-80-md{padding-bottom:80px;}
    .pd-b-85-md{padding-bottom:85px;}
    .pd-b-90-md{padding-bottom:90px;}
    .pd-b-95-md{padding-bottom:95px;}
    .pd-b-100-md{padding-bottom:100px;}



    .pd-l-0-md{padding-left:0px;}
    .pd-l-1-md{padding-left:1px;}
    .pd-l-2-md{padding-left:2px;}
    .pd-l-3-md{padding-left:3px;}
    .pd-l-4-md{padding-left:4px;}
    .pd-l-5-md{padding-left:5px;}
    .pd-l-6-md{padding-left:6px;}
    .pd-l-7-md{padding-left:7px;}
    .pd-l-8-md{padding-left:8px;}
    .pd-l-9-md{padding-left:9px;}
    .pd-l-10-md{padding-left:10px;}
    .pd-l-15-md{padding-left:15px;}
    .pd-l-20-md{padding-left:20px;}
    .pd-l-25-md{padding-left:25px;}
    .pd-l-30-md{padding-left:30px;}
    .pd-l-35-md{padding-left:35px;}
    .pd-l-40-md{padding-left:40px;}
    .pd-l-45-md{padding-left:45px;}
    .pd-l-50-md{padding-left:50px;}
    .pd-l-55-md{padding-left:55px;}
    .pd-l-60-md{padding-left:60px;}
    .pd-l-65-md{padding-left:65px;}
    .pd-l-70-md{padding-left:70px;}
    .pd-l-75-md{padding-left:75px;}
    .pd-l-80-md{padding-left:80px;}
    .pd-l-85-md{padding-left:85px;}
    .pd-l-90-md{padding-left:90px;}
    .pd-l-95-md{padding-left:95px;}
    .pd-l-100-md{padding-left:100px;}



    .pd-r-0-md{padding-right:0px;}
    .pd-r-1-md{padding-right:1px;}
    .pd-r-2-md{padding-right:2px;}
    .pd-r-3-md{padding-right:3px;}
    .pd-r-4-md{padding-right:4px;}
    .pd-r-5-md{padding-right:5px;}
    .pd-r-6-md{padding-right:6px;}
    .pd-r-7-md{padding-right:7px;}
    .pd-r-8-md{padding-right:8px;}
    .pd-r-9-md{padding-right:9px;}
    .pd-r-10-md{padding-right:10px;}
    .pd-r-15-md{padding-right:15px;}
    .pd-r-20-md{padding-right:20px;}
    .pd-r-25-md{padding-right:25px;}
    .pd-r-30-md{padding-right:30px;}
    .pd-r-35-md{padding-right:35px;}
    .pd-r-40-md{padding-right:40px;}
    .pd-r-45-md{padding-right:45px;}
    .pd-r-50-md{padding-right:50px;}
    .pd-r-55-md{padding-right:55px;}
    .pd-r-60-md{padding-right:60px;}
    .pd-r-65-md{padding-right:65px;}
    .pd-r-70-md{padding-right:70px;}
    .pd-r-75-md{padding-right:75px;}
    .pd-r-80-md{padding-right:80px;}
    .pd-r-85-md{padding-right:85px;}
    .pd-r-90-md{padding-right:90px;}
    .pd-r-95-md{padding-right:95px;}
    .pd-r-100-md{padding-right:100px;}
}

@media (min-width: 1170px) {
    /*-------------- WIDTH -------------------------------------------------------------------------------------------*/
    .w-auto-lg{width:auto;}
    .w-0-lg{width:0px;}
    .w-5-lg{width:5px;}
    .w-10-lg{width:10px;}
    .w-15-lg{width:15px;}
    .w-16pc-lg{width:16%;}
    .w-20-lg{width:20px;}
    .w-20pc-lg{width:20%;}
    .w-25-lg{width:25px;}
    .w-25pc-lg{width:25%;}
    .w-30-lg{width:30px;}
    .w-33pc-lg{width:33.33%;}
    .w-35-lg{width:35px;}
    .w-40-lg{width:40px;}
    .w-40pc-lg{width:40%;}
    .w-45-lg{width:45px;}
    .w-50-lg{width:50px;}
    .w-50pc-lg{width:50% !important;}
    .w-55-lg{width:55px;}
    .w-60-lg{width:60px;}
    .w-60pc-lg{width:60%;}
    .w-65-lg{width:65px;}
    .w-70-lg{width:70px;}
    .w-75pc-lg{width:75%;}
    .w-75-lg{width:75px;}
    .w-80-lg{width:80px;}
    .w-85-lg{width:85px;}
    .w-90-lg{width:90px;}
    .w-95-lg{width:95px;}
    .w-100-lg{width:100px;}
    .w-100pc-lg{width:100%;}

    /*-------------- HEIGHT -------------------------------------------------------------------------------------------*/
    .h-auto-lg{height:auto;}
    .h-0-lg{height:0px;}
    .h-5-lg{height:5px;}
    .h-10-lg{height:10px;}
    .h-15-lg{height:15px;}
    .h-20-lg{height:20px;}
    .h-25-lg{height:25px;}
    .h-30-lg{height:30px;}
    .h-35-lg{height:35px;}
    .h-40-lg{height:40px;}
    .h-45-lg{height:45px;}
    .h-50-lg{height:50px;}
    .h-55-lg{height:55px;}
    .h-60-lg{height:60px;}
    .h-65-lg{height:65px;}
    .h-70-lg{height:70px;}
    .h-75-lg{height:75px;}
    .h-80-lg{height:80px;}
    .h-85-lg{height:85px;}
    .h-90-lg{height:90px;}
    .h-95-lg{height:95px;}
    .h-100-lg{height:100px;}
    .h-100pc-lg{height:100%;}
    .h-125-lg{height:125px;}
    .h-150-lg{height:150px;}
    .h-175-lg{height:175px;}
    .h-200-lg{height:200px;}
    .h-250-lg{height:250px;}
    .h-300-lg{height:300px;}
    .h-350-lg{height:350px;}
    .h-400-lg{height:400px;}
    .h-450-lg{height:450px;}
    .h-500-lg{height:500px;}
    .h-550-lg{height:550px;}
    .h-600-lg{height:600px;}
    .h-650-lg{height:650px;}
    .h-700-lg{height:700px;}
    .h-750-lg{height:750px;}
    .h-800-lg{height:800px;}
    .h-850-lg{height:850px;}
    .h-900-lg{height:900px;}
    .h-950-lg{height:950px;}
    .h-1000-lg{height:1000px;}


    /*-------------- MARGIN -------------------------------------------------------------------------------------------*/
    .mg-z-a-lg{margin-left: auto; margin-right:auto;}
    .mg-t-0-lg{margin-top:0px;}
    .mg-t-1-lg{margin-top:1px;}
    .mg-t-2-lg{margin-top:2px;}
    .mg-t-3-lg{margin-top:3px;}
    .mg-t-4-lg{margin-top:4px;}
    .mg-t-5-lg{margin-top:5px;}
    .mg-t-6-lg{margin-top:6px;}
    .mg-t-7-lg{margin-top:7px;}
    .mg-t-8-lg{margin-top:8px;}
    .mg-t-9-lg{margin-top:9px;}
    .mg-t-10-lg{margin-top:10px;}
    .mg-t-15-lg{margin-top:15px;}
    .mg-t-15n-lg{margin-top:-15px;}
    .mg-t-20-lg{margin-top:20px;}
    .mg-t-25-lg{margin-top:25px;}
    .mg-t-30-lg{margin-top:30px;}
    .mg-t-35-lg{margin-top:35px;}
    .mg-t-40-lg{margin-top:40px;}
    .mg-t-45-lg{margin-top:45px;}
    .mg-t-50-lg{margin-top:50px;}
    .mg-t-55-lg{margin-top:55px;}
    .mg-t-60-lg{margin-top:60px;}
    .mg-t-65-lg{margin-top:65px;}
    .mg-t-70-lg{margin-top:70px;}
    .mg-t-75-lg{margin-top:75px;}
    .mg-t-80-lg{margin-top:80px;}
    .mg-t-85-lg{margin-top:85px;}
    .mg-t-90-lg{margin-top:90px;}
    .mg-t-95-lg{margin-top:95px;}
    .mg-t-100-lg{margin-top:100px;}



    .mg-b-0-lg{margin-bottom:0px;}
    .mg-b-1-lg{margin-bottom:1px;}
    .mg-b-2-lg{margin-bottom:2px;}
    .mg-b-3-lg{margin-bottom:3px;}
    .mg-b-4-lg{margin-bottom:4px;}
    .mg-b-5-lg{margin-bottom:5px;}
    .mg-b-6-lg{margin-bottom:6px;}
    .mg-b-7-lg{margin-bottom:7px;}
    .mg-b-8-lg{margin-bottom:8px;}
    .mg-b-9-lg{margin-bottom:9px;}
    .mg-b-10-lg{margin-bottom:10px;}
    .mg-b-15-lg{margin-bottom:15px;}
    .mg-b-15n-lg{margin-bottom:-15px;}
    .mg-b-20-lg{margin-bottom:20px;}
    .mg-b-25-lg{margin-bottom:25px;}
    .mg-b-30-lg{margin-bottom:30px;}
    .mg-b-35-lg{margin-bottom:35px;}
    .mg-b-40-lg{margin-bottom:40px;}
    .mg-b-45-lg{margin-bottom:45px;}
    .mg-b-50-lg{margin-bottom:50px;}
    .mg-b-55-lg{margin-bottom:55px;}
    .mg-b-60-lg{margin-bottom:60px;}
    .mg-b-65-lg{margin-bottom:65px;}
    .mg-b-70-lg{margin-bottom:70px;}
    .mg-b-75-lg{margin-bottom:75px;}
    .mg-b-80-lg{margin-bottom:80px;}
    .mg-b-85-lg{margin-bottom:85px;}
    .mg-b-90-lg{margin-bottom:90px;}
    .mg-b-95-lg{margin-bottom:95px;}
    .mg-b-100-lg{margin-bottom:100px;}



    .mg-l-0-lg{margin-left:0px;}
    .mg-l-1-lg{margin-left:1px;}
    .mg-l-2-lg{margin-left:2px;}
    .mg-l-3-lg{margin-left:3px;}
    .mg-l-4-lg{margin-left:4px;}
    .mg-l-5-lg{margin-left:5px;}
    .mg-l-6-lg{margin-left:6px;}
    .mg-l-7-lg{margin-left:7px;}
    .mg-l-8-lg{margin-left:8px;}
    .mg-l-9-lg{margin-left:9px;}
    .mg-l-10-lg{margin-left:10px;}
    .mg-l-15-lg{margin-left:15px;}
    .mg-l-15n-lg{margin-left:-15px;}
    .mg-l-20-lg{margin-left:20px;}
    .mg-l-25-lg{margin-left:25px;}
    .mg-l-30-lg{margin-left:30px;}
    .mg-l-35-lg{margin-left:35px;}
    .mg-l-40-lg{margin-left:40px;}
    .mg-l-45-lg{margin-left:45px;}
    .mg-l-50-lg{margin-left:50px;}
    .mg-l-55-lg{margin-left:55px;}
    .mg-l-60-lg{margin-left:60px;}
    .mg-l-65-lg{margin-left:65px;}
    .mg-l-70-lg{margin-left:70px;}
    .mg-l-75-lg{margin-left:75px;}
    .mg-l-80-lg{margin-left:80px;}
    .mg-l-85-lg{margin-left:85px;}
    .mg-l-90-lg{margin-left:90px;}
    .mg-l-95-lg{margin-left:95px;}
    .mg-l-100-lg{margin-left:100px;}



    .mg-r-0-lg{margin-right:0px;}
    .mg-r-1-lg{margin-right:1px;}
    .mg-r-2-lg{margin-right:2px;}
    .mg-r-3-lg{margin-right:3px;}
    .mg-r-4-lg{margin-right:4px;}
    .mg-r-5-lg{margin-right:5px;}
    .mg-r-6-lg{margin-right:6px;}
    .mg-r-7-lg{margin-right:7px;}
    .mg-r-8-lg{margin-right:8px;}
    .mg-r-9-lg{margin-right:9px;}
    .mg-r-10-lg{margin-right:10px;}
    .mg-r-15-lg{margin-right:15px;}
    .mg-r-15n-lg{margin-right:-15px;}
    .mg-r-20-lg{margin-right:20px;}
    .mg-r-25-lg{margin-right:25px;}
    .mg-r-30-lg{margin-right:30px;}
    .mg-r-35-lg{margin-right:35px;}
    .mg-r-40-lg{margin-right:40px;}
    .mg-r-45-lg{margin-right:45px;}
    .mg-r-50-lg{margin-right:50px;}
    .mg-r-55-lg{margin-right:55px;}
    .mg-r-60-lg{margin-right:60px;}
    .mg-r-65-lg{margin-right:65px;}
    .mg-r-70-lg{margin-right:70px;}
    .mg-r-75-lg{margin-right:75px;}
    .mg-r-80-lg{margin-right:80px;}
    .mg-r-85-lg{margin-right:85px;}
    .mg-r-90-lg{margin-right:90px;}
    .mg-r-95-lg{margin-right:95px;}
    .mg-r-100-lg{margin-right:100px;}


    /*-------------- PADDING -------------------------------------------------------------------------------------------*/
    .pd-0-lg{padding:0px;}
    .pd-5-lg{padding:5px;}
    .pd-10-lg{padding:10px;}
    .pd-15-lg{padding:15px;}
    .pd-20-lg{padding:20px;}
    .pd-25-lg{padding:25px;}
    .pd-30-lg{padding:30px;}
    .pd-35-lg{padding:35px;}
    .pd-40-lg{padding:40px;}
    .pd-45-lg{padding:45px;}
    .pd-50-lg{padding:50px;}


    .pd-t-0-lg{padding-top:0px;}
    .pd-t-1-lg{padding-top:1px;}
    .pd-t-2-lg{padding-top:2px;}
    .pd-t-3-lg{padding-top:3px;}
    .pd-t-4-lg{padding-top:4px;}
    .pd-t-5-lg{padding-top:5px;}
    .pd-t-6-lg{padding-top:6px;}
    .pd-t-7-lg{padding-top:7px;}
    .pd-t-8-lg{padding-top:8px;}
    .pd-t-9-lg{padding-top:9px;}
    .pd-t-10-lg{padding-top:10px;}
    .pd-t-15-lg{padding-top:15px;}
    .pd-t-20-lg{padding-top:20px;}
    .pd-t-25-lg{padding-top:25px;}
    .pd-t-30-lg{padding-top:30px;}
    .pd-t-35-lg{padding-top:35px;}
    .pd-t-40-lg{padding-top:40px;}
    .pd-t-45-lg{padding-top:45px;}
    .pd-t-50-lg{padding-top:50px;}
    .pd-t-55-lg{padding-top:55px;}
    .pd-t-60-lg{padding-top:60px;}
    .pd-t-65-lg{padding-top:65px;}
    .pd-t-70-lg{padding-top:70px;}
    .pd-t-75-lg{padding-top:75px;}
    .pd-t-80-lg{padding-top:80px;}
    .pd-t-85-lg{padding-top:85px;}
    .pd-t-90-lg{padding-top:90px;}
    .pd-t-95-lg{padding-top:95px;}
    .pd-t-100-lg{padding-top:100px;}



    .pd-b-0-lg{padding-bottom:0px;}
    .pd-b-1-lg{padding-bottom:1px;}
    .pd-b-2-lg{padding-bottom:2px;}
    .pd-b-3-lg{padding-bottom:3px;}
    .pd-b-4-lg{padding-bottom:4px;}
    .pd-b-5-lg{padding-bottom:5px;}
    .pd-b-6-lg{padding-bottom:6px;}
    .pd-b-7-lg{padding-bottom:7px;}
    .pd-b-8-lg{padding-bottom:8px;}
    .pd-b-9-lg{padding-bottom:9px;}
    .pd-b-10-lg{padding-bottom:10px;}
    .pd-b-15-lg{padding-bottom:15px;}
    .pd-b-20-lg{padding-bottom:20px;}
    .pd-b-25-lg{padding-bottom:25px;}
    .pd-b-30-lg{padding-bottom:30px;}
    .pd-b-35-lg{padding-bottom:35px;}
    .pd-b-40-lg{padding-bottom:40px;}
    .pd-b-45-lg{padding-bottom:45px;}
    .pd-b-50-lg{padding-bottom:50px;}
    .pd-b-55-lg{padding-bottom:55px;}
    .pd-b-60-lg{padding-bottom:60px;}
    .pd-b-65-lg{padding-bottom:65px;}
    .pd-b-70-lg{padding-bottom:70px;}
    .pd-b-75-lg{padding-bottom:75px;}
    .pd-b-80-lg{padding-bottom:80px;}
    .pd-b-85-lg{padding-bottom:85px;}
    .pd-b-90-lg{padding-bottom:90px;}
    .pd-b-95-lg{padding-bottom:95px;}
    .pd-b-100-lg{padding-bottom:100px;}



    .pd-l-0-lg{padding-left:0px;}
    .pd-l-1-lg{padding-left:1px;}
    .pd-l-2-lg{padding-left:2px;}
    .pd-l-3-lg{padding-left:3px;}
    .pd-l-4-lg{padding-left:4px;}
    .pd-l-5-lg{padding-left:5px;}
    .pd-l-6-lg{padding-left:6px;}
    .pd-l-7-lg{padding-left:7px;}
    .pd-l-8-lg{padding-left:8px;}
    .pd-l-9-lg{padding-left:9px;}
    .pd-l-10-lg{padding-left:10px;}
    .pd-l-15-lg{padding-left:15px;}
    .pd-l-20-lg{padding-left:20px;}
    .pd-l-25-lg{padding-left:25px;}
    .pd-l-30-lg{padding-left:30px;}
    .pd-l-35-lg{padding-left:35px;}
    .pd-l-40-lg{padding-left:40px;}
    .pd-l-45-lg{padding-left:45px;}
    .pd-l-50-lg{padding-left:50px;}
    .pd-l-55-lg{padding-left:55px;}
    .pd-l-60-lg{padding-left:60px;}
    .pd-l-65-lg{padding-left:65px;}
    .pd-l-70-lg{padding-left:70px;}
    .pd-l-75-lg{padding-left:75px;}
    .pd-l-80-lg{padding-left:80px;}
    .pd-l-85-lg{padding-left:85px;}
    .pd-l-90-lg{padding-left:90px;}
    .pd-l-95-lg{padding-left:95px;}
    .pd-l-100-lg{padding-left:100px;}



    .pd-r-0-lg{padding-right:0px;}
    .pd-r-1-lg{padding-right:1px;}
    .pd-r-2-lg{padding-right:2px;}
    .pd-r-3-lg{padding-right:3px;}
    .pd-r-4-lg{padding-right:4px;}
    .pd-r-5-lg{padding-right:5px;}
    .pd-r-6-lg{padding-right:6px;}
    .pd-r-7-lg{padding-right:7px;}
    .pd-r-8-lg{padding-right:8px;}
    .pd-r-9-lg{padding-right:9px;}
    .pd-r-10-lg{padding-right:10px;}
    .pd-r-15-lg{padding-right:15px;}
    .pd-r-20-lg{padding-right:20px;}
    .pd-r-25-lg{padding-right:25px;}
    .pd-r-30-lg{padding-right:30px;}
    .pd-r-35-lg{padding-right:35px;}
    .pd-r-40-lg{padding-right:40px;}
    .pd-r-45-lg{padding-right:45px;}
    .pd-r-50-lg{padding-right:50px;}
    .pd-r-55-lg{padding-right:55px;}
    .pd-r-60-lg{padding-right:60px;}
    .pd-r-65-lg{padding-right:65px;}
    .pd-r-70-lg{padding-right:70px;}
    .pd-r-75-lg{padding-right:75px;}
    .pd-r-80-lg{padding-right:80px;}
    .pd-r-85-lg{padding-right:85px;}
    .pd-r-90-lg{padding-right:90px;}
    .pd-r-95-lg{padding-right:95px;}
    .pd-r-100-lg{padding-right:100px;}
}