/* All Apple queries credits to css-tricks.com */

@import url(mq/apple.css);
@import url(mq/samsung.css);
@import url(mq/htc.css);


/* tablets and desktop */

@media only screen and (min-width: 768px) {
    /* codes goes here */
}

/* phones */

@media only screen and (max-width: 767px) {
    /* codes goes gere */
}


 /* portrait phones */
 
@media only screen and (max-width: 767px) and (orientation: portrait) {
   /* codes goes gere */
}