    /*---------------------------------------- TEXTING --*/
.txt-8{font-size:8px;}
.txt-9{font-size:9px;}
.txt-10{font-size:10px;}
.txt-11{font-size:11px;}
.txt-12{font-size:12px;}
.txt-13{font-size:13px;}
.txt-14{font-size:14px;}
.txt-15{font-size:15px;}
.txt-16{font-size:16px;}
.txt-18{font-size:18px;}
.txt-20{font-size:20px;}
.txt-22{font-size:22px;}
.txt-24{font-size:24px;}
.txt-26{font-size:26px !important;}
.txt-28{font-size:28px !important;}
.txt-30{font-size:30px;}
.txt-32{font-size:32px;}
.txt-34{font-size:34px;}
.txt-36{font-size:36px;}
.txt-38{font-size:38px;}
.txt-40{font-size:40px;}
.txt-42{font-size:42px;}
.txt-44{font-size:44px;}
.txt-46{font-size:46px;}
.txt-48{font-size:48px;}
.txt-50{font-size:50px !important;}
.txt-120{font-size:120px;}
.txt-52{font-size:52px;}
.txt-54{font-size:54px;}
.txt-56{font-size:56px;}
.txt-58{font-size:58px !important;}
.txt-60{font-size:60px;}
.txt-62{font-size:62px;}
.txt-64{font-size:64px;}
.txt-66{font-size:66px;}
.txt-68{font-size:68px;}
.txt-70{font-size:70px;}
.txt-72{font-size:72px;}
.txt-74{font-size:74px;}
.txt-76{font-size:76px;}
.txt-78{font-size:78px;}
.txt-80{font-size:80px;}
.txt-100{font-size:100px;}
.txt-150{font-size:150px;}
.txt-200{font-size:200px;}
.txt-225{font-size:225px;}




.ln-h-0{line-height:0px;}
.ln-h-8{line-height:8px;}
.ln-h-9{line-height:9px;}
.ln-h-10{line-height:10px;}
.ln-h-11{line-height:11px;}
.ln-h-12{line-height:12px;}
.ln-h-13{line-height:13px;}
.ln-h-14{line-height:14px;}
.ln-h-15{line-height:15px;}
.ln-h-16{line-height:16px;}
.ln-h-18{line-height:18px;}
.ln-h-20{line-height:20px;}
.ln-h-22{line-height:22px;}
.ln-h-24{line-height:24px;}
.ln-h-26{line-height:26px;}
.ln-h-28{line-height:28px;}
.ln-h-30{line-height:30px;}
.ln-h-32{line-height:32px;}
.ln-h-34{line-height:34px;}
.ln-h-36{line-height:36px;}
.ln-h-38{line-height:38px;}
.ln-h-40{line-height:40px;}
.ln-h-42{line-height:42px;}
.ln-h-44{line-height:44px;}
.ln-h-46{line-height:46px;}
.ln-h-48{line-height:48px;}
.ln-h-50{line-height:50px;}



.txt-left{text-align: left;}
.txt-right{text-align: right;}
.txt-center{text-align: center;}
.txt-just{text-align: justify;}


.bold{font-weight:bold;}
.regular{font-weight:normal;}
.underline{text-decoration:underline;}
.italic{ font-style:italic;}
.thin{font-weight: 100;}
.up-case{text-transform:uppercase;}

@import url(https://fonts.googleapis.com/css?family=Open+Sans); /*open sans font family*/

.tahoma{font-family:tahoma;}
.opensans{font-family: 'Open Sans', sans-serif;}
.arial{font-family:arial;}
.georgia{font-family:georgia;}
.trebuchet{font-family:trebuchet ms;}



.txt-ind-999n{text-indent:-999px;}
.let-space-1{letter-spacing:1px;}
.let-space-1n{letter-spacing:-1px;}


/*-- Extra Small devices --*/
@media (max-width: 767px) {


.txt-8-xs{font-size:8px;}
.txt-9-xs{font-size:9px;}
.txt-10-xs{font-size:10px;}
.txt-11-xs{font-size:11px;}
.txt-12-xs{font-size:12px;}
.txt-13-xs{font-size:13px;}
.txt-14-xs{font-size:14px;}
.txt-15-xs{font-size:15px;}
.txt-16-xs{font-size:16px;}
.txt-18-xs{font-size:18px;}
.txt-20-xs{font-size:20px !important;}
.txt-22-xs{font-size:22px;}
.txt-24-xs{font-size:24px;}
.txt-26-xs{font-size:26px;}
.txt-28-xs{font-size:28px;}
.txt-30-xs{font-size:30px;}
.txt-32-xs{font-size:32px;}
.txt-34-xs{font-size:34px;}
.txt-36-xs{font-size:36px;}
.txt-38-xs{font-size:38px;}
.txt-40-xs{font-size:40px;}
.txt-42-xs{font-size:42px;}
.txt-44-xs{font-size:44px;}
.txt-46-xs{font-size:46px;}
.txt-48-xs{font-size:48px;}
.txt-50-xs{font-size:50px;}
.txt-52-xs{font-size:52px;}
.txt-54-xs{font-size:54px;}
.txt-56-xs{font-size:56px;}
.txt-58-xs{font-size:58px;}
.txt-60-xs{font-size:60px;}
.txt-62-xs{font-size:62px;}
.txt-64-xs{font-size:64px;}
.txt-66-xs{font-size:66px;}
.txt-68-xs{font-size:68px;}
.txt-70-xs{font-size:70px;}
.txt-72-xs{font-size:72px;}
.txt-74-xs{font-size:74px;}
.txt-76-xs{font-size:76px;}
.txt-78-xs{font-size:78px;}
.txt-80-xs{font-size:80px;}
.txt-100-xs{font-size:100px;}
.txt-150-xs{font-size:150px;}
.txt-200-xs{font-size:200px;}
.txt-225-xs{font-size:225px;}




.ln-h-8-xs{line-height:8px;}
.ln-h-9-xs{line-height:9px;}
.ln-h-10-xs{line-height:10px;}
.ln-h-11-xs{line-height:11px;}
.ln-h-12-xs{line-height:12px;}
.ln-h-13-xs{line-height:13px;}
.ln-h-14-xs{line-height:14px;}
.ln-h-15-xs{line-height:15px;}
.ln-h-16-xs{line-height:16px;}
.ln-h-18-xs{line-height:18px;}
.ln-h-20-xs{line-height:20px;}
.ln-h-22-xs{line-height:22px;}
.ln-h-24-xs{line-height:24px;}
.ln-h-26-xs{line-height:26px;}
.ln-h-28-xs{line-height:28px;}
.ln-h-30-xs{line-height:30px;}
.ln-h-32-xs{line-height:32px;}
.ln-h-34-xs{line-height:34px;}
.ln-h-36-xs{line-height:36px;}
.ln-h-38-xs{line-height:38px;}
.ln-h-40-xs{line-height:40px;}
.ln-h-42-xs{line-height:42px;}
.ln-h-44-xs{line-height:44px;}
.ln-h-46-xs{line-height:46px;}
.ln-h-48-xs{line-height:48px;}
.ln-h-50-xs{line-height:50px;}



.txt-left-xs{text-align: left;}
.txt-right-xs{text-align: right;}
.txt-center-xs{text-align: center;}


.bold-xs{font-weight:bold;}
.regular-xs{font-weight:normal;}
.underline-xs{text-decoration:underline;}
.italic-xs{ font-style:italic;}
.thin-xs{font-weight: 100;}
.up-case-xs{text-transform:uppercase;}


.tahoma-xs{font-family:tahoma;}
.arial-xs{font-family:arial;}
.georgia-xs{font-family:georgia;}
.trebuchet-xs{font-family:trebuchet ms;}


.txt-ind-999n-xs{text-indent:-999px;}
.let-space-1-xs{letter-spacing:1px;}
.let-space-1n-xs{letter-spacing:-1px;}


	}

/*-- Small Devices--*/
@media (min-width: 768px) and (max-width: 991px) {
.txt-8-sm{font-size:8px;}
.txt-9-sm{font-size:9px;}
.txt-10-sm{font-size:10px;}
.txt-11-sm{font-size:11px;}
.txt-12-sm{font-size:12px;}
.txt-13-sm{font-size:13px;}
.txt-14-sm{font-size:14px;}
.txt-15-sm{font-size:15px;}
.txt-16-sm{font-size:16px;}
.txt-18-sm{font-size:18px;}
.txt-20-sm{font-size:20px;}
.txt-22-sm{font-size:22px;}
.txt-24-sm{font-size:24px;}
.txt-26-sm{font-size:26px;}
.txt-28-sm{font-size:28px;}
.txt-30-sm{font-size:30px;}
.txt-32-sm{font-size:32px;}
.txt-34-sm{font-size:34px;}
.txt-36-sm{font-size:36px;}
.txt-38-sm{font-size:38px;}
.txt-40-sm{font-size:40px;}
.txt-42-sm{font-size:42px;}
.txt-44-sm{font-size:44px;}
.txt-46-sm{font-size:46px;}
.txt-48-sm{font-size:48px;}
.txt-50-sm{font-size:50px;}
.txt-52-sm{font-size:52px;}
.txt-54-sm{font-size:54px;}
.txt-56-sm{font-size:56px;}
.txt-58-sm{font-size:58px;}
.txt-60-sm{font-size:60px;}
.txt-62-sm{font-size:62px;}
.txt-64-sm{font-size:64px;}
.txt-66-sm{font-size:66px;}
.txt-68-sm{font-size:68px;}
.txt-70-sm{font-size:70px;}
.txt-72-sm{font-size:72px;}
.txt-74-sm{font-size:74px;}
.txt-76-sm{font-size:76px;}
.txt-78-sm{font-size:78px;}
.txt-80-sm{font-size:80px;}
.txt-100-sm{font-size:100px;}
.txt-150-sm{font-size:150px;}
.txt-200-sm{font-size:200px;}
.txt-225-sm{font-size:225px;}




.ln-h-8-sm{line-height:8px;}
.ln-h-9-sm{line-height:9px;}
.ln-h-10-sm{line-height:10px;}
.ln-h-11-sm{line-height:11px;}
.ln-h-12-sm{line-height:12px;}
.ln-h-13-sm{line-height:13px;}
.ln-h-14-sm{line-height:14px;}
.ln-h-15-sm{line-height:15px;}
.ln-h-16-sm{line-height:16px;}
.ln-h-18-sm{line-height:18px;}
.ln-h-20-sm{line-height:20px;}
.ln-h-22-sm{line-height:22px;}
.ln-h-24-sm{line-height:24px;}
.ln-h-26-sm{line-height:26px;}
.ln-h-28-sm{line-height:28px;}
.ln-h-30-sm{line-height:30px;}
.ln-h-32-sm{line-height:32px;}
.ln-h-34-sm{line-height:34px;}
.ln-h-36-sm{line-height:36px;}
.ln-h-38-sm{line-height:38px;}
.ln-h-40-sm{line-height:40px;}
.ln-h-42-sm{line-height:42px;}
.ln-h-44-sm{line-height:44px;}
.ln-h-46-sm{line-height:46px;}
.ln-h-48-sm{line-height:48px;}
.ln-h-50-sm{line-height:50px;}



.txt-left-sm{text-align: left;}
.txt-right-sm{text-align: right;}
.txt-center-sm{text-align: center;}


.bold-sm{font-weight:bold;}
.regular-sm{font-weight:normal;}
.underline-sm{text-decoration:underline;}
.italic-sm{ font-style:italic;}
.thin-sm{font-weight: 100;}
.up-case-sm{text-transform:uppercase;}


.tahoma-sm{font-family:tahoma;}
.arial-sm{font-family:arial;}
.georgia-sm{font-family:georgia;}
.trebuchet-sm{font-family:trebuchet ms;}



.txt-ind-999n-sm{text-indent:-999px;}
.let-space-1-sm{letter-spacing:1px;}
.let-space-1n-sm{letter-spacing:-1px;}



}




/*-- Medium Devices --*/
@media (min-width: 992px) and (max-width: 1169px) {


.txt-8-md{font-size:8px;}
.txt-9-md{font-size:9px;}
.txt-10-md{font-size:10px;}
.txt-11-md{font-size:11px;}
.txt-12-md{font-size:12px;}
.txt-13-md{font-size:13px;}
.txt-14-md{font-size:14px !important;}
.txt-15-md{font-size:15px;}
.txt-16-md{font-size:16px;}
.txt-18-md{font-size:18px;}
.txt-20-md{font-size:20px;}
.txt-22-md{font-size:22px;}
.txt-24-md{font-size:24px;}
.txt-26-md{font-size:26px;}
.txt-28-md{font-size:28px;}
.txt-30-md{font-size:30px;}
.txt-32-md{font-size:32px;}
.txt-34-md{font-size:34px;}
.txt-36-md{font-size:36px;}
.txt-38-md{font-size:38px;}
.txt-40-md{font-size:40px;}
.txt-42-md{font-size:42px;}
.txt-44-md{font-size:44px;}
.txt-46-md{font-size:46px;}
.txt-48-md{font-size:48px;}
.txt-50-md{font-size:50px;}
.txt-52-md{font-size:52px;}
.txt-54-md{font-size:54px;}
.txt-56-md{font-size:56px;}
.txt-58-md{font-size:58px;}
.txt-60-md{font-size:60px;}
.txt-62-md{font-size:62px;}
.txt-64-md{font-size:64px;}
.txt-66-md{font-size:66px;}
.txt-68-md{font-size:68px;}
.txt-70-md{font-size:70px;}
.txt-72-md{font-size:72px;}
.txt-74-md{font-size:74px;}
.txt-76-md{font-size:76px;}
.txt-78-md{font-size:78px;}
.txt-80-md{font-size:80px;}
.txt-100-md{font-size:100px;}
.txt-150-md{font-size:150px;}
.txt-200-md{font-size:200px;}
.txt-225-md{font-size:225px;}




.line-h-8-md{line-height:8px;}
.line-h-9-md{line-height:9px;}
.line-h-10-md{line-height:10px;}
.line-h-11-md{line-height:11px;}
.line-h-12-md{line-height:12px;}
.line-h-13-md{line-height:13px;}
.line-h-14-md{line-height:14px;}
.line-h-15-md{line-height:15px;}
.line-h-16-md{line-height:16px;}
.line-h-18-md{line-height:18px;}
.line-h-20-md{line-height:20px;}
.line-h-22-md{line-height:22px;}
.line-h-24-md{line-height:24px;}
.line-h-26-md{line-height:26px;}
.line-h-28-md{line-height:28px;}
.line-h-30-md{line-height:30px;}
.line-h-32-md{line-height:32px;}
.line-h-34-md{line-height:34px;}
.line-h-36-md{line-height:36px;}
.line-h-38-md{line-height:38px;}
.line-h-40-md{line-height:40px;}
.line-h-42-md{line-height:42px;}
.line-h-44-md{line-height:44px;}
.line-h-46-md{line-height:46px;}
.line-h-48-md{line-height:48px;}
.line-h-50-md{line-height:50px;}



.txt-left-md{text-align: left;}
.txt-right-md{text-align: right;}
.txt-center-md{text-align: center;}


.bold-md{font-weight:bold;}
.regular-md{font-weight:normal;}
.underline-md{text-decoration:underline;}
.italic-md{ font-style:italic;}
.thin -md{font-weight: 100;}
.up-case-md{text-transform:uppercase;}


.tahoma-md{font-family:tahoma;}
.arial-md{font-family:arial;}
.georgia-md{font-family:georgia;}
.trebuchet-md{font-family:trebuchet ms;}



.txt-ind-999n-md{text-indent:-999px;}
.let-space-1-md{letter-spacing:1px;}
.let-space-1n-md{letter-spacing:-1px;}



	}

/*-- Large Devices --*/
@media (min-width: 1170px) {

.txt-8-lg{font-size:8px;}
.txt-9-lg{font-size:9px;}
.txt-10-lg{font-size:10px;}
.txt-11-lg{font-size:11px;}
.txt-12-lg{font-size:12px;}
.txt-13-lg{font-size:13px;}
.txt-14-lg{font-size:14px;}
.txt-15-lg{font-size:15px;}
.txt-16-lg{font-size:16px;}
.txt-18-lg{font-size:18px;}
.txt-20-lg{font-size:20px;}
.txt-22-lg{font-size:22px;}
.txt-24-lg{font-size:24px;}
.txt-26-lg{font-size:26px;}
.txt-28-lg{font-size:28px;}
.txt-30-lg{font-size:30px;}
.txt-32-lg{font-size:32px;}
.txt-34-lg{font-size:34px;}
.txt-36-lg{font-size:36px;}
.txt-38-lg{font-size:38px;}
.txt-40-lg{font-size:40px;}
.txt-42-lg{font-size:42px;}
.txt-44-lg{font-size:44px;}
.txt-46-lg{font-size:46px;}
.txt-48-lg{font-size:48px;}
.txt-50-lg{font-size:50px;}
.txt-52-lg{font-size:52px;}
.txt-54-lg{font-size:54px;}
.txt-56-lg{font-size:56px;}
.txt-58-lg{font-size:58px;}
.txt-60-lg{font-size:60px;}
.txt-62-lg{font-size:62px;}
.txt-64-lg{font-size:64px;}
.txt-66-lg{font-size:66px;}
.txt-68-lg{font-size:68px;}
.txt-70-lg{font-size:70px;}
.txt-72-lg{font-size:72px;}
.txt-74-lg{font-size:74px;}
.txt-76-lg{font-size:76px;}
.txt-78-lg{font-size:78px;}
.txt-80-lg{font-size:80px;}
.txt-100-lg{font-size:100px;}
.txt-150-lg{font-size:150px;}
.txt-200-lg{font-size:200px;}
.txt-225-lg{font-size:225px;}




.ln-h-8-lg{line-height:8px;}
.ln-h-9-lg{line-height:9px;}
.ln-h-10-lg{line-height:10px;}
.ln-h-11-lg{line-height:11px;}
.ln-h-12-lg{line-height:12px;}
.ln-h-13-lg{line-height:13px;}
.ln-h-14-lg{line-height:14px;}
.ln-h-15-lg{line-height:15px;}
.ln-h-16-lg{line-height:16px;}
.ln-h-18-lg{line-height:18px;}
.ln-h-20-lg{line-height:20px;}
.ln-h-22-lg{line-height:22px;}
.ln-h-24-lg{line-height:24px;}
.ln-h-26-lg{line-height:26px;}
.ln-h-28-lg{line-height:28px;}
.ln-h-30-lg{line-height:30px;}
.ln-h-32-lg{line-height:32px;}
.ln-h-34-lg{line-height:34px;}
.ln-h-36-lg{line-height:36px;}
.ln-h-38-lg{line-height:38px;}
.ln-h-40-lg{line-height:40px;}
.ln-h-42-lg{line-height:42px;}
.ln-h-44-lg{line-height:44px;}
.ln-h-46-lg{line-height:46px;}
.ln-h-48-lg{line-height:48px;}
.ln-h-50-lg{line-height:50px;}



.txt-left-lg{text-align: left;}
.txt-right-lg{text-align: right;}
.txt-center-lg{text-align: center;}


.bold-lg{font-weight:bold;}
.regular-lg{font-weight:normal;}
.underline-lg{text-decoration:underline;}
.italic-lg{ font-style:italic;}
.thin-lg{font-weight: 100;}
.up-case-lg{text-transform:uppercase;}


.tahoma-lg{font-family:tahoma;}
.arial-lg{font-family:arial;}
.georgia-lg{font-family:georgia;}
.trebuchet-lg{font-family:trebuchet ms;}



.txt-ind-999n-lg{text-indent:-999px;}
.let-space-1-lg{letter-spacing:1px;}
.let-space-1n-lg{letter-spacing:-1px;}


}